/* Desktop sidebar scrollbar styling */
#desktop-sidebar::-webkit-scrollbar {
  width: 6px;
}

#desktop-sidebar::-webkit-scrollbar-track {
  background: $grey-lightest-variant;
}

#desktop-sidebar::-webkit-scrollbar-thumb {
  background: $grey-light;
  border-radius: 3px;
}

#desktop-sidebar::-webkit-scrollbar-thumb:hover {
  background: $grey-darker-scrollbar;
}

