/* ========================================
   Table of Contents Styling
   ======================================== */

/* TOC Menu Styling - Follows Bulma's menu component pattern */
.menu {
  font-size: $size-7;
}

.menu-label {
  font-size: $font-size-menu-label;
  font-weight: $weight-semibold;
  color: $grey-dark;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: $size-4;
  padding-bottom: $size-2;
  border-bottom: 1px solid $grey-lighter-variant;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin: $size-1 0;
}

.menu-list a {
  display: block;
  padding: $size-2 $size-3;
  color: $grey-dark;
  text-decoration: none;
  border-radius: $radius-small;
  transition: background-color $speed ease, color $speed ease;
}

.menu-list a:hover {
  background-color: $grey-lightest-variant;
  color: $link;
}

.menu-list a:active {
  background-color: $grey-lighter;
}

/* Active TOC link (when scrolled to that section) */
.menu-list a.is-active {
  background-color: $link;
  color: $white;
  font-weight: $weight-semibold;
}

